#emailAccount{
	text-align: center;
	width:300px;
	left:15%;
	float:left;
}
#emailBody{
	text-align: center;
	width:300px;
	left:50%;
	float:left;
}
#heading{
	text-align: center;
}
input{
	width: 200px;
}

#button{
	position: relative;
    top: 50%;
}
#wrapper {
    text-align: center;
}

#successMessage{
	width: 30%;
  	margin-left: 35%;
  	text-align: 'center';
  	visibility: hidden;
}

#clearSubject { 
	visibility:hidden;
}
#clearEmailBody{
	visibility: hidden;
}
#clearTime{
	visibility: hidden;
}