<link rel="stylesheet" type="text/css" href="client/css/addReminder.css">
<style>
  .card {
  	border-radius: 2px;
  	padding: 15px;
  	background-color: white;
  	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 0fr);
  }

  .first {
    grid-column: 1;
    grid-row: 1;
    margin-right: 10px;
    margin-left: 10px;
  }

  .second {
    margin-right: 10px;
    grid-column: 2;
    grid-row: 1;
  }

  .third {
    margin-top: 10px;
    grid-row: 2;
    grid-column: 1/3;
    width: 20%;
    justify-self: center;
  }

  .fourth {
    margin-top: 10px;
    grid-row: 3;
    grid-column: 1/3;
    width: 20%;
    justify-self: center;
  }

</style>
<div data-ng-controller="addReminder">
  <div class="wrapper" data-ng-init="getSenderEmail(); getSenderPassword(); getReceiverEmail(); getReminder(); init();" id="wrapper">

    <!-- first -->
    <div class="card first">
      <h3>Reminder settings</h3>
      <b>Sending email account:</b> <input type="text" data-ng-model="senderEmail"/><br><br>
      <b>Sending email password:</b> <input type="text" data-ng-model="senderPassword"/><br><br>
      <b>Receiving email account:</b> <input type="text" id="receiverEmail" data-ng-model="receiverEmail"/> <button data-ng-show="receiverEmail != '' && receiverEmail != null" type="button" class="btn btn-primary btn-xs" data-ng-click="receiverEmail = ''; focus();" event-focus="click" event-focus-id="receiverEmail" > Clear</button><br><br>
    </div>

    <!-- second -->
    <div class="card second">
      <h3>Reminder content</h3>
      <b>Date to send reminder:</b><input type="date" data-ng-model="dateToSend"/><br><br>
      <b>Time to send reminder: </b><input maxlength="5" placeholder="18:35" type="text" data-ng-model="timeToSend" id="timeToSend"/> <button data-ng-show="timeToSend != '' && timeToSend != null" type="button" class="btn btn-primary btn-xs" tabindex="-1" data-ng-click="timeToSend=''; focus();" event-focus="click" event-focus-id="timeToSend"> Clear</button><br><br>
      <b>Subject: </b><input type="text" data-ng-model="subject" id="subject"/> <button data-ng-show="subject != '' && subject != null" type="button" class="btn btn-primary btn-xs" tabindex="-1" data-ng-click="subject = ''; focus();" event-focus="click" event-focus-id="subject"> Clear</button><br><br>
      <b>Body: </b> <textarea type="text" data-ng-model="emailBody" id="emailBody"> </textarea><button data-ng-show="emailBody != '' && emailBody != null" type="button" class="btn btn-primary btn-xs" tabindex="-1" data-ng-click="emailBody = ''; focus();" event-focus="click" event-focus-id="emailBody"> Clear</button><br><br>
    </div>
    <div data-ng-show="editing">
      <div class="alert alert-danger" id="editingMessage" role="alert">You're editing a reminder!!!!!</div>
      <button class="btn btn-danger" data-ng-click="stopEditing()"> Stop editing </button>
      <br><br>
    </div>
    <!-- third -->
    <button id="button" type="button" class="btn btn-primary third" data-ng-click="newReminder()"> Set Reminder </button><br><br>

    <button class="btn btn-info fourth" data-ng-click="toggleShowReminders()"> {{ showRemindersMessage }} </button>

    <div id="successMessage" class="alert alert-success" role="alert">Your reminder has been set!</div>
  </div>



  <div data-ng-show="showReminders">
    <div data-ng-init="getReminders()" style="text-align:center">
      <div data-ng-repeat="reminder in reminders | orderBy:'timeToSend' | filter: {hidden: false }">
        <div class="col-md-6" data-ng-show="showReminder(reminder.dateToSend)">

              <div class="card" style="margin-top: 10px;">
                  <div id="receiver"><b>Receiver:</b> {{ reminder.receiverEmail }}</div>
                  <div data-ng-show="reminder.subject != '' && reminder.subject != null"><b>Subject: </b> {{ reminder.subject }}<br></div>
                  <div data-ng-show="reminder.emailBody != '' && reminder.emailBody != null"><b>Body:</b> {{ reminder.emailBody }}</div>
                  <div id="time"><b>Time:</b> {{ reminder.date }}<br></div>
                  <button type="button" class="btn btn-danger" data-ng-click="deleteReminder(reminder._id); toggleShowReminders(); toggleShowReminders();">Delete</button>
                  <button type="button" class="btn btn-success" data-ng-click="editReminder(reminder._id); toggleShowReminders(); toggleShowReminders();">Edit</button>
                  <button type="button" class="btn btn-warning" data-ng-click="hide(reminder)">Hide</button>
                  <button type="button" class="btn btn-info" data-ng-click="sendReminderImmediately(reminder._id); toggleShowReminders(); toggleShowReminders();">Send now</button>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
