<link rel="stylesheet" type="text/css" href="client/css/addReminder.css">
<div data-ng-controller="addReminder">
  <div data-ng-init="getSenderEmail(); getSenderPassword(); getReceiverEmail(); getReminder();" id="wrapper">
      <div data-ng-show="editing">
        <div class="alert alert-danger" id="editingMessage" role="alert">You're editing a reminder!!!!!</div>
        <button class="btn btn-primary" data-ng-click="stopEditing()"> Stop editing </button><br><br>
        
      </div>
      <div class="row">
        <!-- first -->
        <div class="col-md-6">
          <div class="panel panel-primary">
          <div class="panel panel-heading" id="heading">Reminder settings</div>
            <div class="panel-body">
              <b>Sending email account:</b> <input type="text" data-ng-model="senderEmail"/><br><br> 
              <b>Sending email password:</b> <input type="text" data-ng-model="senderPassword"/><br><br>	
              <b>Receiving email account:</b> <input type="text" id="receiverEmail" data-ng-model="receiverEmail"/> <button data-ng-show="receiverEmail != '' && receiverEmail != null" type="button" class="btn btn-primary btn-xs" data-ng-click="receiverEmail = ''; doSomething();" event-focus="click" event-focus-id="receiverEmail" > Clear</button><br><br>
            </div>
          </div>
        </div>

        <!-- second -->
        <div class="col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading" id="heading">Reminder content</div>
            <div class="panel-body">
              <b>Date to send reminder:</b><input type="date" data-ng-model="dateToSend"/><br><br>
              <b>Time to send reminder: </b><input maxlength="5" placeholder="18:35" type="text" data-ng-model="timeToSend"/> <button data-ng-show="timeToSend != '' && timeToSend != null" type="button" class="btn btn-primary btn-xs" tabindex="-1" data-ng-click="timeToSend=''"> Clear</button><br><br>
              <b>Subject: </b><input type="text" data-ng-model="subject"/> <button data-ng-show="subject != '' && subject != null" type="button" class="btn btn-primary btn-xs" tabindex="-1" data-ng-click="subject = ''"> Clear</button><br><br>
              <b>Body: </b><input type="text" data-ng-model="emailBody"/> <button data-ng-show="emailBody != '' && emailBody != null" type="button" class="btn btn-primary btn-xs" tabindex="-1" data-ng-click="emailBody = ''"> Clear</button><br><br>
            </div>
          </div>
        </div>

        <!-- third -->
        <button id="button" type="button" class="btn btn-primary" data-ng-click="newReminder()"> Set Reminder </button>


      </div>
      <br>

        <div id="successMessage" class="alert alert-success" role="alert">Your reminder has been set!</div>
  </div>
</div>