<link rel="stylesheet" type="text/css" href="client/css/login.css">
<div data-ng-controller="login">
	<div class="center-block" id="logindiv">
	    <div class="panel panel-primary">
	    <div class="panel panel-heading">Log in</div>
	      <div class="panel-body">
	        <b>Username:</b> <br><input type="text" data-ng-model="username"/><br><br> 
		    <b>Password:</b> <br><input type="password" id="password" data-ng-model="password" /><br><br>	
		    <button data-ng-click="login()"> Login </button>
	      </div>
	    </div>
	</div>
</div>