<link rel="stylesheet" type="text/css" href="client/css/styles.css">

<style>
	.wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, 1fr);
		margin-top: 20px;
	}

	.profile {
		margin-left: 5px;
		margin-right: 5px;
		grid-column: 1/3;
		grid-row: 1;
		justify-self: center;
		width: 300px;
	}

	.profile-header {
		text-align: center;
	}

	md-input-container {
		width: 250px;
	}
</style>
<div data-ng-controller="profile">
	<div class="wrapper">

		<div class="profile card">
			<div class="profile-header">
				<h2>Profile</h2>
				<h3>{{username}}</h3>
			</div>
			<div data-ng-init="init()" style="text-align:center">
				<div>
					<md-input-container>
						<label>Receiving email account</label>
						<input type="text" data-ng-model="receiverEmail" data-ng-value="receiverEmail" required>
					</md-input-container>

				</div>
				<div>
					<md-input-container>
						<label>Sending email account</label>
						<input type="text" data-ng-model="senderEmail" data-ng-value="senderEmail" required>
					</md-input-container>

				</div>
				<md-input-container>
					<label>Sender email password</label>
					<input type="text" data-ng-model="senderPassword" data-ng-value="senderPassword" required>
				</md-input-container>
				<div>
					<md-button class="button" data-ng-click="updateUser()">Set</md-button>
				</div>
			</div>
		</div>
	</div>

</div>
