<link rel="stylesheet" type="text/css" href="client/css/profile.css">
<div data-ng-controller="profile">
	<div data-ng-init="getReceiverEmail(); getSenderEmail(); getSenderPassword(); " style="text-align:center">
	    <input type="text" id="receiverEmailAccount" data-ng-value="receiverEmail" data-ng-model="receiverEmail" placeholder="Receiving email account"/>
		<button type="button" class="btn btn-primary btn-xs" data-ng-click="setReceiverEmail()">Set</button><br><br>
		<input type="text" id="senderEmailAccount" data-ng-value="senderEmail" data-ng-model="senderEmail" placeholder="Sender email account"/>
		<button type="button" class="btn btn-primary btn-xs" data-ng-click="setSenderEmail()">Set</button><br><br>
        <input type="text" id="senderEmailPassword" data-ng-value="senderPassword" data-ng-model="senderPassword" placeholder="Sender email password"/>
		<button type="button" class="btn btn-primary btn-xs" data-ng-click="setSenderPassword()">Set</button><br><br>
	</div>
</div>










