<link rel="stylesheet" type="text/css" href="public/css/addEmail.css">

<div data-ng-init="getSenderEmail(); getSenderPassword(); getReceiverEmail(); " id="wrapper">
        
    <div class="row">

      <!-- first -->
      <div class="col-md-6">
        <div class="panel panel-primary">
        <div class="panel panel-heading" id="heading">Email settings</div>
          <div class="panel-body">
            <b>Sending email account:</b> <input type="text" data-ng-model="senderEmail"/><br><br> 
    		    <b>Sending email password:</b> <input type="text" data-ng-model="senderPassword"/><br><br>	
    		    <b>Receiving email account:</b> <input type="text" data-ng-model="receiverEmail"/><br><br>
          </div>
        </div>
      </div>

      <!-- second -->
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading" id="heading">Email content</div>
          <div class="panel-body">
            <b>Date to send email:</b><input type="date" data-ng-model="dateToSend"/><br><br>
            <b>Time to send email: </b><input type="text" data-ng-model="timeToSend"/><br><br>
            <b>Subject: </b><input type="text" data-ng-model="subject"/><br><br>
            <b>Email body: </b><input type="text" data-ng-model="emailBody"/><br><br>
          </div>
        </div>
      </div>

      <!-- third -->
      <button id="button" type="button" class="btn btn-primary" data-ng-click="sendEmail()"> Submit email </button>


    </div>
    <br>
    <div id="successMessage" class="alert alert-success" role="alert">Your reminder has been set!</div>
</div>