<div data-ng-init="getEmails()" style="text-align:center">
	<div data-ng-repeat="email in emails | orderBy:'timeToSend'">
		<div class="col-md-6">
        <div class="panel panel-primary">

          <div class="panel-body">
		    <b>Receiver:</b> {{ email.receiverEmail }}
		    <b>Subject: </b> {{ email.subject }}<br>
		    <b>Body:</b> {{ email.emailBody }}
		    <b>Time:</b> {{ email.date }}<br>
		    <button type="button" class="btn btn-danger" data-ng-click="deleteEmail(email)">Delete</button>
		    <button type="button" class="btn btn-info" data-ng-click="editEmail(email._id)">Edit</button>
		    <button type="button" class="btn btn-info" data-ng-click="sendEmailRightAway(email)">Send now</button>
          </div>
        </div>
      </div>
	</div>
</div>
