<div data-ng-controller="allReminders">
	<div data-ng-init="getEmails()" style="text-align:center">
		<div data-ng-repeat="email in emails | orderBy:'timeToSend'">
			<div class="col-md-6">
	        <div class="panel panel-primary">

	          <div class="panel-body" >
			    <div id="receiver"><b>Receiver:</b> {{ email.receiverEmail }}</div>
			    <div id="subject{{email._id}}"  data-ng-value="hideFields(email, 'subject')"><b>Subject: </b> {{ email.subject }}<br></div>
			    <div id="body{{email._id}}" data-ng-value="hideFields(email, 'body')"><b>Body:</b> {{ email.emailBody }}</div>
			    <div id="time"><b>Time:</b> {{ email.date }}<br></div>
			    <button type="button" class="btn btn-danger" data-ng-click="deleteEmail(email)">Delete</button>
			    <button type="button" class="btn btn-success" data-ng-click="editEmail(email._id)">Edit</button>
			    <button type="button" class="btn btn-info" data-ng-click="sendEmailImmediately(email)">Send now</button>
	          </div>
	        </div>
	      </div>
		</div>
	</div>
</div>